/*
  custom css files are loaded after core css files. Simply use the same selector to override a style.
  Example:
      #editbar LI {border:1px solid #000;}
    overrides
      #editbar LI {border:1px solid #d5d5d5;}
    from pad.css
*/

body {
    background-color: -#FFD95F;
    background: -moz-radial-gradient(circle,#F4D50B,#F40101 100%) center fixed !important;    
}

#wrapper {
    background: rgba(0, 194, 0, 0.57);
}